In [1]:
import pandas as pd

In [2]:
data = {
    'fulano1': [3,2,1,0],
    'fulano2': [4,5,7,9]
}
tabela =  pd.DataFrame(data)
tabela

   fulano1  fulano2
0        3        4
1        2        5
2        1        7
3        0        9